#hero{
    text-align: center;
    background-image: url("tpt.jpg");
    border:5px solid pink;
    background-size:cover;
    height:650px;
    font-family: 'Orbitron', sans-serif;
    background-blend-mode:soft-light;  
}
#title{
    padding-top:100px ;
    color:#d74e09;     
    /*border-bottom:5px dashed;*/
    padding-bottom: 0px;  
    text-shadow: 0px 0px 5px;
    font-size: 50px; 
}
#content{
    color:black;
    text-shadow:0px 0px 10px white;
    padding-top: 130px;
}
#link{
    color:#d74e09;
    text-shadow:0px 0px 2px white;

}
#link-content{
    color:black;
    text-shadow:0px 0px 7px white;
    padding-top: 130px;
    font-weight:bolder;
    font-size: 23px;
}
body{
    background: #b4c5e4;
}
.pic{
    border:4px solid pink;
    height: 250px;
    width: 250px;
    border-radius: 50px;
}
#welcome{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin-top:50px;
    margin-bottom: 40px;
}

#details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border:4px solid pink;
    padding:0px;
    height:190px;
    width:500px ;
    margin-right:auto;
    margin-left: auto;
    margin-top:100px;
    border-bottom: 500px;
}
.places{
    border: 3px solid black;
    width:500px;
    margin:100px auto;
    text-align: center;
}